# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

**/.DS_Store
~*
*.log

# Jupyter Notebook
.ipynb_checkpoints

**/checkpoints.db*
freeze.txt
**/.env

**/redis/redis-stable/
dynamic/
**/dynamic/
frontend/public/dynamic/
frontend/build/
**/test_output/
**/dist/
**/build/
**/node_modules/
notebooks/data/
app_logs/

gunicorn.pid

# Virtual Environments
.venv/
.uv/
*.egg-info/
